/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Oswald&family=Prompt&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
	background-image: linear-gradient(to right,#f7be32,#ecca80);
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 100vh; */
	flex-direction: column;
}

*{
	font-family: sans-serif;
	box-sizing: border-box;
}

form {
	margin : auto;
	width: 35%;
	border: 2px solid #ccc;
	padding: 30px;
	/* background: #283245; */
	background-image: linear-gradient(0,#0D1b2a,#35434e);
	border-radius: 15px;
	box-shadow: 3px 3px 40px 3px grey; 
}

h2 {
	text-align: center;
	/* font-weight: 700;
	font-family: 'Josefin Sans', sans-serif;
    font-family: 'Oswald', sans-serif; */
	font-family: 'Prompt', sans-serif;
	font-size: 2rem;
	line-height: 1rem;
	color: #ffffff;
	margin-top: 15px;
	user-select: none;
}
.header h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 3rem;
	line-height: 2rem;
	user-select: none;
	/* margin-top: -25px; */
	color: #283245;
	-webkit-text-stroke: 2px rgb(204, 202, 202);
}

input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 20px auto;
	border-radius: 5px;
}
label {
	color: #fff;
	font-size: 18px;
	padding: 10px;
}

button {
	float: right;
	font-family: 'Prompt', sans-serif;
	background: #f7be32;
	padding: 8px 20px;
	color: #000;
	font-weight: 700;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
	margin-top: -10px;
}
button:hover{
	opacity: .7;
}
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

.success {
   background: #D4EDDA;
   color: #40754C;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
	text-align: center;
	color: #fff;
}

.ca {
	font-size: 14px;
	display: inline-block;
	padding: 0 15px;
	text-decoration: none;
	color: #fff;
}
.ca:hover {
	text-decoration: underline;
} 